{% load static %}
<div class="footer">
    <div class="resane">
        <a href="https://rubika.ir/khane_book"> <img class="rubika" src="{% static 'image/rubika.svg' %}" alt=""></a>
        <a href=" https://eitaa.com/khaneye_book"> <img class="eata" src="{% static 'image/eitaa.svg' %}" alt=""></a>
        <a href=" https://ble.ir/khane_book"> <img class="app" src="{% static 'image/bale.svg' %}" alt=""></a>
    </div>
    <p style="text-align:center;">
        09384069211
    </p>
    <p style="text-align:center;">
        09944016162
    </p>
    <p class="lezat">با خرید کتاب های این سایت لذت ببرید</p>
</div>