<div class="header">
    <ol class="ol">
        <li class="li-1 li"><a href="tamas.html">تماس با ما</a></li>
        <li class="li-2 li"><a href="about.html">درباره ما</a></li>
        <li class="li-3 li"><a href="cell.html">کتاب فروشی</a></li>
        <li class="li-4 li"><a href="library.html">کتاب خانه</a></li>
    </ol>
    <h1 class="h1-1">خانه کتاب</h1>
    <i class="fa fa-shopping-basket" style=" font-size: 30px;  transform: translateY(-600%); color: white;"></i>
</div>
<form class="form-1">
    <input class="in-search" type="search" placeholder="جستجوی کتاب">
</form>