<div class="header">
    <ol class="ol">
        <li class="li-1 li"><a href="{% url 'contact' %}">تماس با ما</a></li>
        <li class="li-2 li"><a href="{% url 'about' %}">درباره ما</a></li>
        <li class="li-3 li"><a href="cell.html">کتاب فروشی</a></li>
        <li class="li-4 li"><a href="library.html">کتاب خانه</a></li>
        {% if user.is_authenticated %}
        <li class="li-5 li"><a href="{% url 'accounts:logout' %}">خروج</a></li>
        <li class="li-6 li"><a href="{% url 'accounts:user-pannel' user.username %}">{{ user }}</a></li>
        {% else %}
        <li class="li-5 li"><a href="{% url 'accounts:signup' %}">ثبت نام</a></li>
        <li class="li-6 li"><a href="{% url 'accounts:login' %}">ورود</a></li>
        {% endif %}
    </ol>
    <h1 class="h1-1">خانه کتاب</h1>
    <i class="fa fa-shopping-basket" style=" font-size: 30px;  transform: translateY(-600%); color: white;"></i>
</div>
<form class="form-1">
    <input class="in-search" type="search" placeholder="جستجوی کتاب">
</form>