.parent-2 {
    width: 100%;
    box-shadow: 0 0 10px 1px black;
    display: flex;
    flex-direction: row;
}

.image img {
    padding: 11%;
    width: 80%;
    height: 80%;
}

.image {
    width: 50%;
    height: 100%;
}

.text {
    width: 50%;
    direction: rtl;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.text form input {
    width: 80%;
    height: 50px;
    margin: 5px auto;
    display: block;
    text-align: center;
    font-size: 20px;
}

.text form textarea {
    width: 80%;
    resize: none;
    display: block;
    margin: 5px auto;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

@media (max-width:1000px) {
    .parent {
        display: flex;
        flex-direction: column;
        width: none;
        width: 500px;
    }

    .text {
        width: 100%;
        height: 50%;
    }

    .image {
        width: 100%;
        height: 50%;
    }
}

@media (max-width:500px) {
    .text form input {
        width: 90%;
    }

    .text form textarea {
        width: 90%;
    }
}