 .container {
     display: flex;
     width: 1200px;
     height: 400px;
     border: 1px solid black;
     box-sizing: border-box;
     border-radius: 30px;
 }

 .nazar {
     background-image: linear-gradient(to left, #964b00, #ffc499);
     width: 50%;
     height: 100%;
     box-sizing: border-box;
     display: inline-block;
     border-radius: 30px 0 0 30px;
 }

 .ertebat {
     background-image: linear-gradient(to right, #964b00, #ffc499);
     width: 50%;
     height: 100%;
     display: inline-block;
     box-sizing: border-box;
     border-radius: 0 30px 30px 0;
 }

 .body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 body {
     background-color: #f5f5dc;
 }

 h1 {
     font-size: 25px;
     white-space: pre;
     margin: -40px 0;
     text-align: right;
     font-family: 'dubai';
 }

 .nazar h1 {
     color: white;
 }

 input {
     width: 500px;
     height: 50px;
     display: block;
     font-size: 20px;
     color: black;
     font-family: 'dubai';
     text-align: right;
     margin: 20px auto;
 }

 textarea {
     resize: none;
     width: 500px;
     height: 50px;
     font-size: 20px;
     font-family: 'dubai';
     color: black;
     display: block;
     margin: 0 auto;
     text-align: right;

 }

 .ersal {
     width: 300px;
     border-radius: 20px;
     text-align: center;
     color: black;
 }

 .add {
     width: 400px;
     display: block;
     height: 50px;
     border: 2px solid black;
     background-color: aliceblue;
     margin: 20px auto;
     text-align: right;
     font-family: 'dubai';
 }

 .tozih {
     font-size: 25px;
     text-align: center;
     font-family: 'dubai';
 }

 @media (max-width:1300px) {
     .container {
         display: flex;
         flex-direction: column;
         width: 600px;
         margin: 0 auto;
     }

     .nazar {
         width: 100%;
         border-radius: 20px 20px 0 0;
     }

     .ertebat {
         border-radius: 0 0 20px 20px;
         width: 100%;
     }
 }

 @media (max-width:500px) {
     input {
         width: 400px;
     }

     textarea {
         width: 400px;
     }
 }

 @media (max-width:425px) {
     input {
         width: 300px;
     }

     textarea {
         width: 300px;
     }

     .add {
         width: 300px;
     }
 }

 @media (max-width:330px) {
     input {
         width: 250px;
     }

     textarea {
         width: 250px;
     }

     .add {
         width: 250px;
     }

     .ersal {
         width: 250px;
     }
 }