@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir.ttf);
}
a {
    text-decoration: none;
    color: black;
}

* {
    font-family: Vazir;
    margin: 0;
    padding: 0;
    transition: all ease 2s;
}

body {
    background-color: #f5f5dc;
}

.header {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, #964b00, #ffc499);
    box-shadow: 0 0 10px 1px black;
}

.ol {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.li {
    list-style-type: none;
    font-size: 25px;
    font-weight: 900;
    margin-top: 2%;
}

.h1-1 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    transform: translateY(-200%);
    color: #008000;
}

.li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: black;
}

.img-1 {
    display: inline-flex;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    transform: translateY(-600%);
    border-radius: 10px;

}

.form-1 {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}

.in-search {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
}

.p-10 {
    display: block;
    font-size: 30px;
    text-align: center;
    color: #008000;

}

.flex {
    width: 80%;
    box-shadow: 0 0 10px 1px black;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #964b00, #ffc499);
}

.flex-item {
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px black;
    font-size: 35px;
    font-weight: 900px;
    background-color: antiquewhite;
    transition: 0.5s;
    color: #008000;
    border-radius: 10px;
}

.flex-item:hover {
    transform: scale(1.01);
    overflow: hidden;
    font-size: 40px;
}

.flex-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #964b00;
    opacity: .5;
}

.h1-2 {
    color: #008000;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px 1px black;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 10px;
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.child {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child img {
    width: 90%;
    height: 70%;
}

.child button {
    width: 50%;
}

.child-a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.race {
    width: 50%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.race:hover {
    transform: scale(1.01);
}

.h2- {
    text-align: center;
    font-weight: 900;
    color: #008000;
}

.textarea {
    display: block;
    resize: none;
    width: 50%;
    height: 100px;
    margin: 10px auto;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.submit {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    background-color: #964b00;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.resane {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rubika {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.eata {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.app {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.lezat {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.parent-2 {
    width: 50%;
    height: 50%;
    box-shadow: 0 0 10px 1px black;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    background-image: linear-gradient(to left, #964b00, #ffc499);
}

.parent-2 form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.parent-2 form * {
    width: 75%;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.parent-2 h1 {
    font-size: 30px;
    text-align: center;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    gap: 20px;
}

.new form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px 1px black;
    background-color: #964b00;
    border-radius: 10px;
}

.new form p {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.new form p input,textarea,select {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.new form .sub {
    width: 50%;
    height: 45px;
    align-self: center;
    background-color: #702f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.new form .sub:hover {
    background-color: #5a2500;
}


@media (max-width:1000px) {
    .textarea {
        width: 100%;
    }

    .parent-2 {
        width: 100%;
    }

    .submit {
        width: 50%;
    }

    .new form {
        width: 100%;
    }
}

@media (max-width:600px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200px;
    }

    .ol {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        margin-top: 30px;
    }

    .li {
        font-size: 23px;
        text-align: center;
    }

    .h1-1 {
        transform: translateY(0);
    }

    .img-1 {
        transform: translate(-400%, -600%);
        float: left;
        width: 10%;
    }

    .form-1 {
        transform: translateY(0);
    }

    .in-search {
        width: 100%;
    }

    .race {
        width: 99%;
    }

    .parent-2 form input {
        width: 95%;
    }

    .fa {
        margin-left: -90%;
    }

    .new form input {
        width: 95%;

    }

    .new form textarea {
        height: 70px;
    }

}

@media (max-width:215px) {
    .h1-1 {
        transform: translateY(-700%);
        font-size: 20px;
    }
}

@media (max-width:150px) {
    .h1-1 {
        font-size: 15px;
        transform: translateY(-900%);
    }

    .li {
        font-size: 15px;
    }
}

@media (min-width:1550px) {
    .h1-1 {
        font-size: 40px;
        transform: translateY(-150%);
    }

    .li {
        font-size: 30px;
    }

    .img-1 {
        width: 70px;
        height: 70px;
        transform: translateY(-300%);
    }

}
