{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<h2>خرید های شما</h2>
<table>
    <tr>
        <th>نام کتاب</th>
        <th>تعداد</th>
        <th>قیمت یک عدد از کتاب</th>
        <th>قیمت کلی</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.book }}</td>
        <td>{{ book.count }}</td>
        <td>{{ book.book.price }}</td>
        <td>{{ book.total_price }}</td>
    </tr>
    {% endfor %}
</table>
<h3>قیمت تمام اجناس:{{ cart.total_price }}تومان </h3>
{% endblock content %}