{% extends 'base/base.html' %}

{% block title %}
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
{% endblock styles %}

{% block content %}
<h1>آزمون {{ race.title }}</h1>
<form action='' method='post'>
{% for question in questions %}
{{ question.text }}
<input type="text" name="{{ question.question_number }}">{{ question.option_1 }}
<input type="text" name="{{ question.question_number }}">{{ question.option_2 }}
<input type="text" name="{{ question.question_number }}">{{ question.option_3 }}
<input type="text" name="{{ question.question_number }}">{{ question.option_4 }}
{% endfor %}
<button type='submit'>تائید</button>
</form>
{% endblock content %}