{% extends 'base/base.html' %}
{% load static %}
{% block title %}
صفحه ی اصلی
{% endblock title %}
{% block content %}
    <div class="flex">
        {% for book_type,label in book_types %}
        <div onclick="window.location='library/list?category={{ book_type }}'" class="flex-item">{{ label }}</div>
        {% endfor %}
    </div>
    <div class="race"><a href="{% url 'race' %}">مسابقات کتاب خوانی دانش آموزی</a></div>
    <h1 class="h1-2">پر فروش ترین کتاب ها</h1>
    <div class="parent" dir="rtl">
        {% for book in top_selling_books %}
            <div class="child">
            {% if book.book_image %}
                <img src="{{ book.book_image.url }}" alt="{{ book }}">
            {% endif %}
                <h3>{{ book.name }}</h3>
                {% if book.price == 0 %}
                <p>رایگان!</p>
                {% else %}
                <p>{{ book.price }}تومان</p>
                {% endif %}
                <button>خرید</button>
            </div>    
        {% endfor %}
        <div class="child">
            <a class="child-a" href="nafis.html"><img src="{% static 'image/three-dots-menu-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>

    <h1 class="h1-2">کتاب های نفیس</h1>
    <div class="parent" dir="rtl">
    {% for book in exquisite_books %}
        <div class="child">
        {% if book.book_image %}
            <img src="{{ book.book_image.url }}" alt="{{ book }}">
        {% endif %}
            <h3>{{ book.name }}</h3>
            {% if book.price == 0 %}
            <p>رایگان!</p>
            {% else %}
            <p>{{ book.price }}تومان</p>
            {% endif %}
            <button>خرید</button>
        </div>
    {% endfor %}
        <div class="child">
            <a class="child-a" href="nafis.html"><img src="{% static 'image/three-dots-menu-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
    <h1 class="h1-2">نویسنده های معروف</h1>
    <div class="parent" dir="rtl">
    {% for author in famous_authors %}
        <div onclick="window.location='accounts/{{author.username}}/'" class="child">
            {{ author }}
        </div>
        {% empty %}
        <div class="child">سایت نویسنده نداره:(</div>
    {% endfor %}
        <div class="child">
            <a class="child-a" href="#"><img src="{% static 'image/three-dots-menu-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
    <h2 class="h2-">نظرات خود را بیان کنید</h2>
    <textarea class="textarea"></textarea>
    <input class="submit" type="submit" value="ارسال">
{% endblock content %}